name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Push Docker image
      run: |
        IMAGE_ID=ghcr.io/${{ github.repository }}/my-image-name
        VERSION=$(date +%s)
        docker tag my-image-name:$VERSION $IMAGE_ID:$VERSION
        docker push $IMAGE_ID:$VERSION
    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

    - name: Push Docker image
      run: |
        VERSION=$(date +%s)
        docker tag my-image-name:$VERSION ${{ secrets.DOCKERHUB_USERNAME }}/my-image-name:$VERSION
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/my-image-name:$VERSION
